
body{
    margin-top: 51px;
}
.navGlyph{
    margin-right:5px;
}

i.fa.fa-twitter {
    color: #1da1f2;
}

.fixedNavBar{
    position: fixed;
    top:0;
    left: 0;
    z-index: 9999;
    width:100%;
    height:50px;
}

.tweetCard{
    background-color: #ffffff;
    border-right: 1px solid #e1e8ed;
    border-left:  1px solid #e1e8ed;
    border-bottom: 1px solid #e1e8ed;
}

.tweetCardProfileImage{
    border-radius: 8px;
}

.tweetCard {
    padding: 9px 12px 9px 12px;
    max-height: 1000px;
}

.tweetCardCounter{
    margin-left: 6px;
}

.adaptiveMedia{
    height:505px;
    width: 508px;
    border-radius: 6px;
    overflow: hidden;
}

.fa-spin-reverse {
    -webkit-animation: fa-spin-reverse 2s infinite linear;
    animation: fa-spin-reverse 2s infinite linear;
}
@-webkit-keyframes fa-spin-reverse {
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    0% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes fa-spin-reverse {
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    0% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}